In [13]:
total =1+2+3+4+5+\
3+5
print(total)

23

this is basics

In [8]:
#this is the basics

hi

# hi

zdfaf

In [29]:
age= input()

print(32,"\n",44)

32
 44

In [1]:
# hi

In [2]:
## hi

In [3]:
#### ju

In [5]:
'''
sdfsdf
sefwfr\sefwerf\\\
dfsf
'''

'\nsdfsdf\nsefwfr\\sefwerf\\dfsf\n'

In [33]:
print(5//3)
print(5%3)
print(5/3)

1
2
1.6666666666666667

In [34]:
x= True
not x

False

In [36]:
x= int(input())
if x>=30:
    print("yes")
else:
    print("no")

yes

In [3]:
range(5)

range(0, 5)

In [4]:
for i in range(5):
    print(i)

0
1
2
3
4

In [8]:

for i in range(1,5):
    print(i)

1
2
3
4

In [14]:
range(10,12)

range(10, 12)

range(start,end,jumpm size)

In [18]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [21]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [13]:
# strings
for i in range(10.1,-2):
    print(i)

TypeError: 'float' object cannot be interpreted as an integer

In [23]:
str ="tarun"
for i in str:
    print(i)

t
a
r
u
n

In [15]:
# while loop
i=0
while i<5:
    if i==3:
        break
    print(i)
    i=i+1

0
1
2

In [9]:
## nested loops

In [14]:
for i in range(4):
    for j in range(3):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:0 and j:2
i:1 and j:0
i:1 and j:1
i:1 and j:2
i:2 and j:0
i:2 and j:1
i:2 and j:2
i:3 and j:0
i:3 and j:1
i:3 and j:2

Data structures in python

In [19]:
list=[1,1,2,"hello world",True]
print(list)
print(list[-6%5])
print(list[1])
print(list[1:])
print(list[1:4])
print(list[-1:-3])

[1, 1, 2, 'hello world', True]
True
1
[1, 2, 'hello world', True]
[1, 2, 'hello world']
[]

In [23]:
list=[1,1,2,"hello world",True]

In [24]:
list[1:2]="water"
print(list)

[1, 'w', 'a', 't', 'e', 'r', 'hello world', True]

In [49]:
list=[1,2,3,4,5]
print(list)
list[1:]="water"
print(list)
list.append("hi")
print(list)
list.insert(3,True)
print(list)
list.append(True)
print(list)

[1, 2, 3, 4, 5]
[1, 'w', 'a', 't', 'e', 'r']
[1, 'w', 'a', 't', 'e', 'r', 'hi']
[1, 'w', 'a', True, 't', 'e', 'r', 'hi']
[1, 'w', 'a', True, 't', 'e', 'r', 'hi', True]

In [59]:
print(list)
print(list)
print(list.index("w"))
list.append("hi")
print(list.index("hi"))

['w', 'a', 't', 'e', 'hi', 'hi', 'hi', 'hi']
['w', 'a', 't', 'e', 'hi', 'hi', 'hi', 'hi']
0
4

In [64]:
print(list.count("hi"))
list.reverse()
print(list)
list.clear()
print(list)

0
[]
[]

In [74]:
## slicing list
list=range(1,5)

In [77]:
print(list[1:2])
print(list[::-2])
print(list[:3])

range(2, 3)
range(4, 0, -2)
range(1, 4)

In [78]:
#iterating over list

In [79]:
for i in list:
    print(i)

1
2
3
4

indexing and element iteration together

In [4]:
list3=[1,2,3]
for x,i in enumerate(list):
    if (x+i==3):
     print(x,i)

1 2

list comprehension

In [89]:
list1=[]
for x in range(10):
   list1.append(x**2)
print(list1)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [84]:
[x**2 for x in range(10)]
#[operation ---loop]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [91]:
square=[num**3 for num in range(11)]
print(square)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [96]:
#with conditions
square=[num**3 for num in range(11) if num%2==0]
print(square)

[0, 8, 64, 216, 512, 1000]

In [105]:
list1=[1,2,3,4]
list2=['a','b','c','d']
pair=[[x , y] for x in list1 for y in list2]
print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [112]:
list1=[1,2,3,4]
list2=[1,23,33,4]
pair=[x - y for x in list1 for y in list2 if x==y] 
print(pair)

[0, 0]

Tuple

In [7]:

b=tuple()
print(type(b))

<class 'tuple'>

TypeError: 'list' object is not callable

In [36]:
tu=(1,2,3,4,5,1)
tu *3
li=[1.2,3]
li*3

[1.2, 3, 1.2, 3, 1.2, 3]

In [38]:
print(tu)
print(tu[1:])
print(tu[0:3:1])
print(tu[-1])
print(tu.count(1))
print(tu.index(1))

(1, 2, 3, 4, 5, 1)
(2, 3, 4, 5, 1)
(1, 2, 3)
1
2
0

In [28]:
## immutable nature of tuples

In [39]:
tu[1]=3

TypeError: 'tuple' object does not support item assignment

packaging and unpackaging of tuples

In [42]:
temp=1,2,4.5,"hello",True

In [45]:
print(type(temp))
#unpacking of tuple
a,b,c,d,e=temp
print(d)

<class 'tuple'>
hello

In [49]:
*first,a=temp

In [53]:
print(type(a))

<class 'bool'>

In [54]:
print(type(first))
print((first))

<class 'list'>
[1, 2, 4.5, 'hello']

#dictionary

In [71]:

a={"name":1,"name":3,"age":13,"grade":'A'}
print(a)

{'name': 3, 'age': 13, 'grade': 'A'}

In [78]:
a['name']
a['age']
a["grade"]

'A'

In [79]:
print(a['se'])

KeyError: 'se'

In [84]:
print(a.get('name'))
print(a.get('age'))
print(a.get('grade'))
print(a.get('nam','nhi hai'))

3
13
A
nhi hai

In [85]:
print(a.get('name'))

3

In [87]:
a['name']="nandan patel"
print(a['name'])
a['income']=1000
print(a)

nandan patel
{'name': 'nandan patel', 'age': 13, 'grade': 'A', 'income': 1000}

In [93]:

print(a)
del a['age']
print(a)

{'age': 13, 'grade': 'A', 'income': 1000}
{'grade': 'A', 'income': 1000}

methords in dictionary

In [97]:
keys=a.keys()
print(keys)
values=a.values()
print(values)
print(type(keys))
print(type(values))

dict_keys(['grade', 'income'])
dict_values(['A', 1000])
<class 'dict_keys'>
<class 'dict_values'>

normal copy problem

In [116]:
b={'name':'tarun','age':20}
print(b)
c=b
print(c)
b['age']=21
print(b)
print(c)

{'name': 'tarun', 'age': 20}
{'name': 'tarun', 'age': 20}
{'name': 'tarun', 'age': 21}
{'name': 'tarun', 'age': 21}

In [117]:
d=b.copy()
print(d)

{'name': 'tarun', 'age': 21}

In [119]:
b['age']=24

print(b)
print(d)

{'name': 'tarun', 'age': 24}
{'name': 'tarun', 'age': 21}

In [124]:
for x in d.keys():
    print(x)
for x in d.values():
    print(x)
for x,y in d.items():
    print(f"{x}:{y}")

name
age
tarun
21
name:tarun
age:21

In [126]:
sq={x:x**2 for x in range(5)}
print(sq)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [127]:
sq={}
for x in range(1,6):
    sq[x]=x**2

In [128]:
print(x)

5

In [129]:
list=[1,1,1,2,2,3,4,4,5]
dict={}
for i in list:
    dict[i]=list.count(i)

In [130]:
print(dict)

{1: 3, 2: 2, 3: 1, 4: 2, 5: 1}

In [1]:
dict1={1:"a",2:'b'}
dict2={7:'c',3:'d'}
merge_dict={**dict1,**dict2}
print(merge_dict)

{1: 'a', 2: 'b', 7: 'c', 3: 'd'}

In [2]:
list1=[1,2]
list2=[3,4]
print(list1+list2)

[1, 2, 3, 4]

In [3]:
if 1 in list1:
    print(True)
else:
    print(False)

True

In [4]:
list1.remove(1)

In [5]:
print(list1)

[2]

In [9]:
k=[23,22,454,2323]
avg=sum(k)/len(k)
print(avg)
print(max(k))
print(min(k))

705.5
2323
22

In [20]:
def  even_odd(num):
      if num%2==0:
            return True
      return False

In [23]:
k=input()
f=even_odd(int(k))
print(f)

False

postional arguments

In [42]:
def print_num(*poarg):
        print(sum(poarg),'\n')

In [43]:
print_num(1,2,2,3)

8

In [44]:
def print_num(**kwarg):
    for x,y in kwarg.items():
        print(f"{x} : {y} \n")

In [65]:
print_num(a877=3,b='3')

a877 : 3

b : 3

In [66]:
def print_num(*pos,**kwarg):
    for x,y in kwarg.items():
        print(f"{x} : {y} \n")
    for x in pos:
        print(f"{x}\n")

In [69]:
print_num(1,2,3,"tarun",'a',True,key=3,value="tarun")

key : 3

value : tarun

1

2

3

tarun

a

True

In [70]:
print_num(1,2,3,"tarun",'a',True,key=3,value="tarun",6)

SyntaxError: positional argument follows keyword argument (2607480984.py, line 1)

In [91]:
def mul(a,b):
    return a*b,a,b

In [98]:
res,x=mul(6,7)

ValueError: too many values to unpack (expected 2)

In [99]:
print(res,x)

NameError: name 'x' is not defined

In [100]:
res=mul(6,7)
print(res)

(42, 6, 7, 4)

lambda function

In [110]:
add=lambda x:print("hello",x)
print(type(add))
print(add(4))

<class 'function'>
hello 4
None

In [129]:
mul=lambda :5

In [131]:
print(type(mul()))

<class 'int'>

map

In [140]:
def sq(arg):
    y=0
    for x in arg:
        y+=x**2
     
    return y

In [141]:
list=[1,2,3]
print(sq(list))

14

In [1]:
def square(x):
    return x**2

In [2]:
numbers=[1,2,3,4,5,6,7]

In [3]:
# i want to perform operation on all numbers 
# approach 1
list_res=[]
for i in numbers:
    list_res.append(square(i))

In [4]:
print(list_res)

[1, 4, 9, 16, 25, 36, 49]

In [12]:
#approach 2
k=tuple()
k=list()
print(type(k))

<class 'list'>

In [9]:
temp=list(map(square,numbers))
print(temp)

[1, 4, 9, 16, 25, 36, 49]

In [13]:
emp=list(map(lambda x:x**2,numbers))
print(emp)

[1, 4, 9, 16, 25, 36, 49]

In [14]:
num1=[1,2,3]
num2=[4,5,6]
new=list(map(lambda x,y:x+y,num1,num2))
print(new)

[5, 7, 9]

In [17]:
words=["tarun","chet","sur"]
upper=tuple(map(str.upper,words))
print(upper)

('TARUN', 'CHET', 'SUR')

filter function

In [19]:
# through map function
num=[1,2,3,4,4,5,5,5]
list1=list(map(lambda x:x%2==0,num))
print(list1)

[False, True, False, True, True, False, False, False]

In [25]:
def even(num):
    if num%2==0:
        return num
    
num=[1,2,3,4,4,5,5,5]
list1=list(map(even,num))
print(list1)

[None, 2, None, 4, 4, None, None, None]

In [26]:
list(filter(even,num))

[2, 4, 4]

In [29]:
num=[1,2,3,4,4,5,5,5,6,6,75435,2,3424]
even_and_greater_five=list(filter(lambda x: x>5 and x%2==0,num))
print(even_and_greater_five)

[6, 6, 3424]

In [32]:
import math 
import numpy

ModuleNotFoundError: No module named 'numpy'

In [33]:
!pip install numpy

Collecting numpy
  Downloading numpy-2.0.1-cp311-cp311-win_amd64.whl.metadata (60 kB)
     ---------------------------------------- 0.0/60.9 kB ? eta -:--:--
     ------ --------------------------------- 10.2/60.9 kB ? eta -:--:--
     ------------ ------------------------- 20.5/60.9 kB 162.5 kB/s eta 0:00:01
     ------------------------- ------------ 41.0/60.9 kB 245.8 kB/s eta 0:00:01
     -------------------------------------- 60.9/60.9 kB 294.5 kB/s eta 0:00:00
Downloading numpy-2.0.1-cp311-cp311-win_amd64.whl (16.6 MB)
   ---------------------------------------- 0.0/16.6 MB ? eta -:--:--
    --------------------------------------- 0.3/16.6 MB 6.3 MB/s eta 0:00:03
   ---- ----------------------------------- 1.7/16.6 MB 17.6 MB/s eta 0:00:01
   ------- -------------------------------- 2.9/16.6 MB 20.8 MB/s eta 0:00:01
   ----------- ---------------------------- 4.6/16.6 MB 26.5 MB/s eta 0:00:01
   -------------- ------------------------- 5.9/16.6 MB 26.9 MB/s eta 0:00:01
   ---------------- ----------------------- 6.7/16.6 MB 25.1 MB/s eta 0:00:01
   ------------------ --------------------- 7.7/16.6 MB 24.8 MB/s eta 0:00:01
   --------------------- ------------------ 8.9/16.6 MB 24.9 MB/s eta 0:00:01
   ------------------------ --------------- 10.1/16.6 MB 24.9 MB/s eta 0:00:01
   --------------------------- ------------ 11.5/16.6 MB 27.3 MB/s eta 0:00:01
   ------------------------------- -------- 13.1/16.6 MB 27.3 MB/s eta 0:00:01
   ----------------------------------- ---- 14.7/16.6 MB 27.3 MB/s eta 0:00:01
   -------------------------------------- - 15.9/16.6 MB 27.3 MB/s eta 0:00:01
   ---------------------------------------  16.3/16.6 MB 25.2 MB/s eta 0:00:01
   ---------------------------------------  16.6/16.6 MB 24.2 MB/s eta 0:00:01
   ---------------------------------------- 16.6/16.6 MB 21.8 MB/s eta 0:00:00
Installing collected packages: numpy
Successfully installed numpy-2.0.1

In [38]:
import numpy
import math
# one way of using code 
k=math.sqrt(17)
print(k)
# another way of using code 
from math import sqrt,pi
print(sqrt(18),pi)

4.123105625617661
4.242640687119285 3.141592653589793

In [44]:
import numpy as np
from math import *
print(lcm(48,38))
print(sqrt(18))

912
4.242640687119285

In [47]:
from package.maths import *

ModuleNotFoundError: No module named 'package'

In [25]:
from array import *
arr=array('iguess',[1,2,2])
print(arr)
print(type(arr))
for x in arr:
    print(x)

TypeError: cannot use a str to initialize an array with typecode 'i'

In [9]:
from random import *
print(randint(1,20))

15

In [26]:
import os 
print(os.getcwd())

c:\Users\hp\Desktop\tutorial codes\python-basics

In [27]:
os.mkdir('test_dir')

In [28]:
import shutil
shutil.copyfile('source.txt','destination.txt')

'destination.txt'

In [34]:
#data serialization
import json
data={'name':'tarun','age':21}
json_str=json.dumps(data)
print(json_str)
print(type(json_str))
data1 =json.loads(json_str)
print(data1)
print(type(data1))

{"name": "tarun", "age": 21}
<class 'str'>
{'name': 'tarun', 'age': 21}
<class 'dict'>

In [58]:
import csv
with open('example.csv',mode='w',newline='') as file:
     writer=csv.writer(file)
     writer.writerow(['name','age'])
     writer.writerow(['tarun',21])
with open('example.csv',mode='r') as file:
     reader=csv.reader(file)
     for x in reader:
          print(x)

['name', 'age']
['tarun', '21']

In [40]:
from datetime import *
print(datetime.now()-timedelta(days=1))

2024-08-01 17:33:04.784489

In [42]:
from time import *
print(time())
sleep(2)
print(time())

1722600243.7909908
1722600245.7924082

In [48]:
# regular expression -toc
from re import *
pat=r'\d'
text='there are 123 apple and 456 apple'
x=23
print(f"tarun marks are {x}")
match=findall(pat,text)
print(match)

tarun marks are 23
['1', '2', '3', '4', '5', '6']

In [55]:
from re import *
pat='\d+'
text='there are 123 apple and 456 apple'
x=23
print(f"tarun marks are {x}")
match=findall(pat,text)
print(match)

tarun marks are 23
['123', '456']

In [61]:
with open('example.txt','r') as file:
    content=file.read()
    print(content)

my name is tarun
21 years

In [66]:
# read line by line
with open('example.txt','r') as file:
    for line in file:
        print(line)

my name is tarun

21 years

In [68]:
# read line by line
with open('example.txt','r') as file:
    for line in file:
        print(line.strip()) # remove newline character and space between lines

my name is tarun
21 years

In [72]:
with open('example1.txt','w') as file:
    file.write('hello world!1\n')
    file.write('hello world!2\n')
# data will be overwrite in file 
#instead r mode use append mode

In [74]:
with open('example1.txt','a') as file:
    file.write('hello world!3')
    file.write('hello world!4')

In [75]:
# writing list of line
lines=['first_line\n','second_LIne\n','third line\n']
with open('example1.txt','a') as file:
    file.writelines(lines)

In [1]:
# binary files
import os
curr_direc=os.listdir('.')
print(curr_direc)

['destination.txt', 'example.bin', 'example.csv', 'example.txt', 'example1.txt', 'source.txt', 'test.ipynb', 'test_dir']

binary file

In [13]:
##joining path
dir_name="folder"
file_name="file.txt"
full_path=os.path.join(dir_name,file_name)
print(full_path)

folder\file.txt

In [6]:
import os
print(os.getcwd())

c:\Users\hp\Desktop\tutorial codes\python-basics

In [11]:
path='c:\\Users\\hp\\Desktop\\tutorial codes\\app.py'
if os.path.exists(path):
  print(True)
else:
  print(False)

True

In [14]:
# check if path is a file or directory

In [16]:
path='c:\\Users\\hp\\Desktop\\tutorial codes\\'
if os.path.isfile(path):
    print(f"the path is {path} is a file")
elif os.path.isdir(path):
    print(f"the path is {path} is a directory")

the path is c:\Users\hp\Desktop\tutorial codes\ is a directory

In [17]:
relative_path='example.csv'
print(os.path.abspath(relative_path))

c:\Users\hp\Desktop\tutorial codes\python-basics\example.csv

In [19]:
import os

# Path
path = "/home"

# Join various path components
print(os.path.join(path, "User/Desktop", "file.txt"))

# Path
path = "User/Documents"

# Join various path components
print(os.path.join(path, "/home", "file.txt"))

# Path
path = "/User"

# Join various path components
print(os.path.join(path, "Downloads", "file.txt", "/home"))

/home\User/Desktop\file.txt
/home\file.txt
/home

In [21]:
#exception handling
a=b

NameError: name 'b' is not defined

In [22]:
# exception handling include try except finally block

In [25]:
try:
    a=b
except :
    print("variable define nhi kiye ho")

variable define nhi kiye ho

In [30]:
try:
    a=b
except NameError as e:
    print(e)

name 'b' is not defined

In [32]:
try:
    res=1/0
except :
    print("division by 0")

division by 0

In [34]:
try:
    res=1/0
except ZeroDivisionError as z:
    print(z)
    print("enter denominator greater than 0")

division by zero
enter denominator greater than 0

In [2]:
try:
    res=1/2
    a=b
except ZeroDivisionError as z:
    print(z)
    print("enter denominator greater than 0")
except Exception as ex:
    print(ex)

name 'b' is not defined

In [12]:
try:
    num=int(input("enter a number"))
    res=10/num
except ValueError as va:
    print(va)
    print("invalid number")
except ZeroDivisionError as ze:
    print(ze)
else:
    print(res)

division by zero

In [13]:
# try,except,else and finally block

In [15]:
try:
    num=int(input("enter a number"))
    res=10/num
except ValueError as va:
    print(va)
    print("invalid number")
except ZeroDivisionError as ze:
    print(ze)
else:
    print(res)
finally:
       print("execution complete")

division by zero
execution complete

In [16]:
# file handling exception handling

In [24]:
try:
    with open('example.txt','r') as file:
     content=file.read()
     print(content)
except FileNotFoundError as fe:
    print(fe)
finally:
    if file in locals() and not file.closed():
        
        print('file closed')

hello world!
hello world!